# Virtual environments
.venv/
venv/
**/venv/
**/.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Databases & Backups (excluding core db.sqlite3)
*.sqlite3-journal
csac_portal/db.sqlite3.bak
csac_portal/db.sqlite3.old
csac_portal/db.sqlite3.prod.bak
